{% extends 'base.html' %}

{% block title %} Railways | Booking {% endblock %}

{% block styles %}
<style media="screen">
#banner {
    text-align: center;
}
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md" id="banner">
            </div>
        </div>        
    </div>
    {% if messages %}
        {% for message in messages %}
        <div class="conatiner">
            <div class="row">
            <div class="col-md-4"></div>
            <div class="alert alert-warning col-md-4  alert-dismissible fade show " role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-md-4"></div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <form action="{% url 'site_reservation' %}" method="POST">
            {% csrf_token %}
            {{ form.management_form }}
            <div class="container">
                {% for field in form %}
                    <div class="row">
                        <div class="form-group col-md">
                            <label class="col-12">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        <form>
    </div>
{% endblock %}
